<!--
<app-semaforo></app-semaforo>
  <p [ngStyle]="propiedadesParrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  Nostrum incidunt quaerat minus atque deserunt est vel labore ipsum enim?
</p>
<div>
  <button (click)="cambiaColor('v')">Verde</button>
  <button (click)="cambiaColor('r')">Rojo</button>
  <button (click)="cambiaColor('a')">Amarillo</button>
</div>
<div>
  <input type="text" [(ngModel)]="propiedadesParrafo.color" >
</div>
<div>
-->
  <!--<input type="range" min="12" max="200" step="2" (change)="onChange($event)">-->
  <!--<input type="range" min="12" max="200" step="2" (input)="onInput($event)">
</div> -->
<!--
<p *ngIf="mostrar; then mainBlock else elseBlock">Contenido del parráfo</p>
<ng-template #mainBlock>
  <p>Contenido del primer parráfo</p>
</ng-template>
<ng-template #elseBlock>
  <p>Contenido del segundo parráfo</p>
</ng-template>
-->
<!--
<p *ngIf="mostrar">Contenido del primer párrafo</p>
<p *ngIf="!mostrar">Contenido del segundo párrafo</p>
<button (click)= "onClickMostrar()">Mostrar / ocultar</button>
-->
<!--<app-bucles></app-bucles>-->
<!--<app-switch></app-switch>-->
<p subrayado>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, laborum.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, laborum.</p>
<p subrayado>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, laborum.</p>